language: c
compiler: gcc
dist: bionic
before_install:
  - sudo apt-get install git lcov uuid-runtime python3-dev
script:
    - autoreconf -fi && ./configure --enable-code-coverage --enable-python-library PYTHON=python3 && make check || (cat test/test-suite.log && exit -1)
jobs:
    include:
        -   stage: Code Coverage
            after_success:
                - cd src/
                - bash <(curl -s https://codecov.io/bash)
